<section class="mirage-section">
  <section> 
    <h3>Get Movies</h3>
    <button {{action "getMovies"}}>Get Movies</button>
  </section>
  <section>
    <h3>Get Directors</h3>
    <button {{action "getDirectors"}}>Get Directors</button>
  </section>
  <section>
    <h3>Create A Movie</h3>
    <button {{action "postMovies"}}>Create Movies</button>
  </section>
  <section>
    <h3>Display Particular Movie</h3>
    <h5>Enter Movie Id: </h5>{{input value=name enter=(action "getMoviesById")}}
    (Click Enter)
  </section>
  <section>
    <h3>Change a Movie Details</h3>
    <br><h5>Enter Movie Id: </h5>{{input value=movieid enter=(action "updateMoviesById")}}
    (Click Enter)
  </section>
  <section>
    <h3>Delete a Movie</h3>
    <h5>Enter Movie Id: </h5>{{input value=delid enter=(action "deleteMoviesById")}}
    (Click Enter)
  </section><br>
</section>
<section class= "mirage-section" style="width: 500px">
  {{#each getValues as |movies|}}
    {{movies.id}}&emsp;
    {{movies.type}}&emsp;
    {{movies.attributes.title}}&emsp;
    {{movies.attributes.year}}<br>
  {{/each}}<br>
  {{#each getDirector as |directors|}}
    {{directors.id}}
    {{directors.type}}
    {{directors.attributes.first-name}}
    {{directors.attributes.last-name}}
    {{directors.attributes.awards}}<br>
  {{/each}}
  {{getValues.id}}
  {{getValues.type}}
  {{getValues.attributes.title}}
  {{getValues.attributes.year}}
</section>