<section>
  <button {{action "getMovies"}}>Get Movies</button>
</section>
<section>
  <button {{action "postMovies"}}>Create Movies</button>
</section>
<section>
  <button {{action "getMoviesById" "11"}}>Get Movie 11</button>
  {{getMovie.id}}
  {{getMovie.type}}
  {{getMovie.attributes.title}}
  {{getMovie.attributes.year}}
</section>
<section>
  <button {{action "updateMoviesById" "11"}}>Update Movie 11</button>
  {{getMovie.id}}
  {{getMovie.type}}
  {{getMovie.attributes.title}}
  {{getMovie.attributes.year}}
</section>
<section>
  <button {{action "deleteMoviesById" "11"}}>Delete Movie 11</button>
</section>
{{#each getMovie as |movies|}}
  {{movies.id}}
  {{movies.type}}
  {{movies.attributes.title}}
  {{movies.attributes.year}}<br>
{{/each}}
